* {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

 

  a {
    padding: 11px;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    border: none;
  }
  
  
  a:hover {
    background-color: white;
    color: black;
  }
  
 
  a:active {
    color: black;
  } 

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
button {
    cursor: pointer;
}

.search {
    display: flex;
    background-color: grey;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.searchInput::placeholder {
    color: lightgrey;
}

.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 
    30px;
    margin-top: 20px;
}

.menuItem {
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    transition: all 0.1s;
}

.menuItem:first-child {
    transform: scale(1.2)
}

.menuItem:hover {
    border-bottom: 3px solid white;
    
}

.slider {
    background: url(images/istockphoto-915097804-2048x2048.webp);
    clip-path: polygon(0 0, 100% 0, 100% 100%,0 95% );
    overflow: hidden;
    
    
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 0.3s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderPoster {
    z-index: 1;
}

.sliderBg {
    height: 750px;
    width: 750px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(86, 167, 86);
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: white;
    padding: 20px;
    z-index: 1;

}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    color: white;
    border: 1px solid grey;
    font-weight: 900;
    cursor: pointer;
    background: black;
    z-index: 1;
    padding: 10px 0;
    border: 2px solid white;

}

.buyButton:hover {
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg {
    background-color: rgb(77, 185, 77);
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
    border: 4px solid rgb(77, 185, 77);
    border-radius: 45px;
    color: rgb(77, 185, 77);
}

.sliderItem:nth-child(2) .sliderPrice {
    color: white;
    border: 4px solid white;
    border-radius: 45px;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: teal;
    border: 4px solid teal;
    border-radius: 45px;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
    border: 4px solid cornflowerblue;
    border-radius: 45px;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: rgb(124, 115, 80);
    border: 4px solid rgb(124, 115, 80);
    border-radius: 45px;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}


.featureImg {
    width: 50px;
    height: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureTitle {
    font-size: 20px;
    margin: 20px;
    font-weight: 600;
}

.featuredDesc {
    color: grey;
    width: 50%;
    height: 15px;
}


.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}
.productImg {
    width: 50%;
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-size: 75px;
    font-weight: 900;
}

.productDesc {
    font-size: 24px;
    color: grey;
}

.productPrice {
    margin-bottom: 10px;
}

.colors, .sizes {
    display: flex;
    gap: 10px;
    margin-top: 20px;

}

.color {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    
    border: 1px solid black;
}

.color:last-child {
    background-color: darkblue;
}


.sizes {
    margin-bottom: 20px;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
}

.productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;

}

.productButton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.productButton:disabled {
    background-color: grey;
    border: none;
}

.productButton:disabled:hover {
    color: white;
    cursor: no-drop;
}

.popUpRating {
    width: 100%;
    height: 236%;
    justify-content: center;
    background: rgba(0, 0, 0, 0.623);
    display: none;
    position: absolute;
    transition: all 0.2s;
    z-index: 100;
    top: 0;

}

.popUpRatingWindow {
    width: 400px;
    padding: 10px 50px 30px 50px;
    background: white;
    position: sticky;
    top: 32%;
    left: 38%;
    border: 4px solid ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 50px;
    text-align: center;
}

.popUp {
    width: 100%;
    height: 236%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.623);
    display: none;
    transition: all 0.2s;

}

.rating {
    font-size: 2rem;
    margin: 20px 0;
    color: lightgray;
}

.fa-star {
    cursor: pointer;
}

.popUpWindow {
    width: 600px;
    padding: 10px 50px 30px 50px;
    background: white;
    position: sticky;
    top: 12%;
    left: 30%;
    border: 4px solid ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popUpWindow input {
    padding-left: 10px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.cardInfo {
    margin: 30px 0;
}

.card {
    display: flex;
    gap: 180px;
    align-items: center;
    
}

.visaMaster {
    display: flex;
    gap: 20px;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
}

.finishOrder, .back {
    height: 40px;
    margin: 0 auto;
    width: 50%;
    outline: none;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 0.1s;
}

.finishOrder:hover, .back:hover{
    background: black;
    color: white;
    
}


nav h1 {
    font-size: 3rem;
}

.close {
    width: 30px;
    height: 30px;
    background-color: white;
    color: rgb(78, 78, 78);
    position: relative;
    left: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5px;
    padding-top: 8px;
    
}

.close:hover {
    background-color: rgb(80, 80, 79);
    color: white;
    border-radius: 4px;
}

.popUpWindow input {
    -moz-appearance: textfield;
}

.choose {
    margin-top: 20px;
}

.one {
    transform: scale(1.2);
    background: black;
}

.size {
    background: white;
    color: black;
}

.size:first-of-type {
    background: black;
    color: white;
}
